@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 2
   
   Bike the Mountains Tour Style Sheet
  Author: Todd Adcox Jr 
    Date:  9/11/18 
   
   Filename: mw_styles.css

*/


/* Structural Styles */
/* this is changing the back ground color of the whole website */
html {
    background-color: rgb(173, 189, 227);

}

/* this changes the color of the body of the website and adds the font family that is below */
body {
    background-color: rgb(227, 210, 173);
    font-family: 'Century Gothic', sans-serif;
}

/* this is changing the color of the footer and it is adding padding to the top and bottom of the footer as well */
footer {
    background-color: rgb(208, 184, 109);
    padding-top: 5px;
    padding-bottom: 5px;
}

/* this is setting the font to normal */
footer address {
    font: normal;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* this is setting the font weight for all h1 and h2 headings */
/* Heading Styles */
h1,
h2 {
    font-weight: normal;
}

/* this is setting the line height for all ul's nested inside the nav to 2 */
/* Navigation Styles */
nav>ul {
    list-style-type: none;
    line-height: 2em;
    font-size: 0.9em;

}

/* this is removing the underlining from the hypertext link  */
nav a:link,
nav a:visited {
    text-decoration: none;
    line-height: 2em;
    font-size: .9em;
}

/* when you hover over the link it makes it the color below */
nav a:active,
nav a:hover {
    color: rgb(212, 35, 35);
}


/* Article Styles */
article#tour_summary h1 {
    font-size: 2.2em;
    letter-spacing: 0.2em;
}

article#tour_summary p {
    font-size: 1.1em;

}

article#tour_summary>p:first-of-type::first-line {
    font-size: 1.2em;
    font-variant: small-caps;
}

/* the first 2 are setting the font size for the h1 and h2 inside the aside.
the 3rd one is setting the font size for the pargraphs. */
/* Aside Styles */
aside#tour_itinerary h1 {
    font-size: 1.2em;
}

aside#tour_itinerary h2 {
    font-size: 0.9em;
}

aside#tour_itinerary p {
    font-size: 0.8em;
}

/* this is setting the color of the odd numbered p tags and h2 headings nested inside the aside  */
aside h2:nth-of-type(odd) {
    color: rgb(79, 91, 40);
}

aside p:nth-of-type(odd) {
    color: rgb(79, 91, 40);
}

/* this is setting the color of the even numbered p tags and h2 headings nested inside the aside  */
aside h2:nth-of-type(even) {
    color: rgb(81, 95, 175);
}

aside p:nth-of-type(even) {
    color: rgb(81, 95, 175);
}

/* Blockquote Styles */
blockquote {
    background-color: rgb(173, 189, 227);
    color: rgb(255, 255, 255);
    opacity: .65;
}

/* this is just adding padding for the p tags nested inside the blockquote, this affects it starting from the top then going clockwise. So from the beginning it it setting the padding for top to 2.5px, padding for the right to 10px, padding for the bottom to 2.5px and padding for the right to 10px.  */
blockquote p {
    padding: 2.5px 10px 2.5px 10px;
}